<tr>
  <td>{{stock.reference}}</td>
  <td>{{stock.description}}</td>
  <td>{{stock.price}}</td>
  <td>{{stock.retailprice}}</td>
  <td>
    <form class="col s12">
      <div class="row">
        <!-- TODO: [Optionnel] Préciser une quantité à acheter/vendre
        <div class="input-field col s10">
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Quantité</label>
        </div>
        -->
        <div class="input-field col s6">
          <button ng-click='buy()' class="btn waves-effect waves-light-green waves-light btn-floating" type="submit" name="action">+
          </button>
        </div>
        <div class="input-field col s6">
          <button ng-click='sell()' class="btn waves-effect waves-light-red waves-light btn-floating" type="submit" name="action">-
          </button>
        </div>
      </div>
    </form>
  </td>
</tr>
