.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.waves-effect.waves-light-blue {
  background-color: rgba(3, 169, 244, 1) !important;
}

.waves-effect.waves-light-red {
  background-color: rgba(191, 63, 63, 1) !important;
}

.waves-effect.waves-light-green {
  background-color: rgba(63, 191, 63, 1) !important;
}

.input-field {
  position: relative;
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.nopadding {
  padding: 0px 0px !important;
}

.all {
  width: 100%;
}

blockquote {
  border-left: 5px solid #03a9f4
}

form .row {
  margin-bottom: 0px !important;
}

td {
  padding: 5px 2px !important;
}
